#img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

#c1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    font-size: small;
}

.c1:hover {
    box-shadow: 0 8px 16px 0 grey (0, 0, 0, 0.2);
}

#c2 {
    box-shadow: 0 4px 8px 0 grey (0, 0, 0, 0.718);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    font-size: small;
}

.c2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}